.sunday {
  color: #FF5252;
}
.holiday {
  color: #FF5252;
}
.saturday {
  color: #3F51B5;
}
.today {
  background-color: navy;
  color: white;
  font-weight: bold;
}
.calendarCell {
  font-size: 14pt;
  text-align: right;
}
.year-input {
  width: 100px;
}
#calendarLabel {
  margin-left: 8px;
}
