a:hover{
	background:rgba(255,255,255,0.8);
	border:1px solid #ccc;
	padding:7px 10px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:1px 1px 3px rgba(150,150,150,0.5);
	-moz-box-shadow:1px 1px 3px rgba(150,150,150,0.5);
	box-shadow:1px 1px 3px rgba(150,150,150,0.5)
}
.result-text {
    font-size: 20pt;
}
.mui-appbar .mui--text-title {
  color: #FFF
}
.mui-appbar {
  background-color: #1A237E;
}
#content-wrapper {
  margin-top: 4px;
}

.appbar-left {
  height: 56px;
  display: flex;
  align-items: center;
}

.horizontal-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#paymentSchedule table th {
  background-color: rgba(22, 0, 80, 0.9);
  color: #FFF;
}
#paymentSchedule table td {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 0;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16), 0 0 2px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16), 0 0 2px 0 rgba(0, 0, 0, .12);
}
#paymentSchedule table tr:nth-child(odd) {
  background-color: rgba(205, 205, 255, 0.18);
}
div#input {
  margin-right: 20px;
}
