a:hover{
	background:rgba(255,255,255,0.8);
	border:1px solid #ccc;
	padding:7px 10px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:1px 1px 3px rgba(150,150,150,0.5);
	-moz-box-shadow:1px 1px 3px rgba(150,150,150,0.5);
	box-shadow:1px 1px 3px rgba(150,150,150,0.5)
}
.result-text {
    font-size: 20pt;
}
.mui--text-title {
  color: #FFF
}
.mui--bg-primary {
  background-color: #0277BD;
}
.mui--bg-primary-dark {
  background-color: #1A237E;
}
.mui-appbar {
  background-color: #0277BD;
}
#content-wrapper {
  margin-top: 4px;
}

.appbar-left {
  height: 56px;
  display: flex;
  align-items: center;
}
