<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="icon" href="{{ '/assets/image/toast_icon.jpg' | relative_url }}" />
    <link href="{{ '/assets/mui-0.10.3/css/mui.min.css' | relative_url }}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" media="all" href="{{ '/assets/stylesheet/main.css' | relative_url }}" />
<link rel="stylesheet" media="all" href="{{ '/assets/stylesheet/sidedrawer.css' | relative_url }}" />
    <script src="{{ '/assets/mui-0.10.3/js/mui.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/script/sidedrawer.js' | relative_url }}"></script>

{% if site.google_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-KK206BWSDN"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KK206BWSDN');
  </script>
{% endif %}

{% seo %}

</head>
<body class="hide-sidedrawer">

<header id="header" class="mui-appbar">
  <nav id="appbar" class="mui-container-fluid">
  <table width="100%" cellspacing="0">
    <tr class="mui--appbar-height">
      <td class="appbar-left">
        <a class="sidedrawer-toggle mui--visible-xs-inline-block mui--visible-sm-inline-block js-show-sidedrawer" onClick="toggleSidedrawer()"><img src="{{ '/assets/image/menu.svg' | relative_url }}"></a>
        <a class="sidedrawer-toggle mui--hidden-xs mui--hidden-sm js-hide-sidedrawer" onClick="toggleSidedrawer()"><img src="{{ '/assets/image/menu.svg' | relative_url }}"></a>
        <a class="mui--text-title" href="{{ '/' | absolute_url }}">
{{ site.title | default: site.github.repository_name }} 
        </a>

      </td>
      <td class="mui--text-right">
        <img src="{{ '/assets/image/toast_icon.jpg' | relative_url }}" width="32" height="32"/>
      </td>
    </tr>
  </table>
</header>


<div class="mui--appbar-height"></div>

<div id="content-wrapper">

<div class="mui-container-fluid inner clearfix">
  <div class="mui-panel">


<h1>Table of contents</h1>
{% include toc.html html=content sanitize=true %}


        <section id="main-content">
          {{ content }}
        </section>

        </div>
      </div>
    </div>

<div id="footer">
<p>This site is hosted on <a href="https://pages.github.com">GitHub Pages</a>, and styled with <a href="https://www.muicss.com/">MUI</a>.</p>

(c) toastkidjp
    </div>

  </div>


<div id="sidedrawer" class="mui--no-user-select">
  <div id="sidedrawer-brand" class="mui--appbar-line-height">
    <span class="mui--text-title">Menu</span>
    <div class="mui-divider"></div>
       <strong>Web apps</strong>
    <ul>
          <li><a href="{{ '/loan.html' | relative_url }}">Loan calculator</a>
          <li><a href="{{ '/converter.html' | relative_url }}">Converter tools</a>
          <li><a href="{{ '/worldTime.html' | relative_url }}">World time</a>
          <li><a href="{{ '/randomValuePicker.html' | relative_url }}">Random value picker</a>
    </ul>
       <strong>App documents</strong>
    <ul>
       <li><a href="{{ '/documents/yobidashi4.html' | relative_url }}">Yobidashi4</a>
       <li><a href="{{ '/documents/yobidashi_android.html' | relative_url }}">Yobidashi Android</a>
    </ul>
       <strong>Contents</strong>
    <ul>
       <li><a href="{{ '/posts.html' | relative_url }}">Posts</a>
    </ul>

</ul>
  </div>
</div>

</body>

</html>
